# Arquivos e diretórios do sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários do Godot
imported/
*.import
.godot

# Arquivos de build (opcional, depende do projeto)
bin/
*.exe
*.pck

# Configurações locais específicas de usuário
*.tmp